<div class="row mb-3">
  <div class="offset-md-4 col-md-4">
    <h1 class="h5 text-center mb-5">
      Wood Price Calculator
    </h1>

    <% if @wood_price_calculator.errors.any? %>
      <% @wood_price_calculator.errors.full_messages.each do |message| %>
        <div class="alert alert-warning">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <%= form_with model: @wood_price_calculator,
          url: root_path,
          method: :get do |form| %>
      <div class="mb-3">
        <%= form.label :height, "Height (mm)", class: "form-label" %>
        <%= form.number_field :height, class: "form-control", autofocus: true %>
      </div>

      <div class="mb-3">
        <%= form.label :length, "Length (mm)", class: "form-label" %>
        <%= form.number_field :length, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :width, "Width (mm)", class: "form-label" %>
        <%= form.number_field :width, class: "form-control" %>
      </div>

      <div class="mb-4">
        <%= form.label :price_per_sai, class: "form-label" %>
        <%= form.number_field :price_per_sai, class: "form-control" %>
      </div>

      <div class="d-grid">
        <%= form.submit "Calculate", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row mb-3">
  <div class="offset-md-4 col-md-4">
    <% if @wood_price_calculator.valid? %>
      <dl>
        <dt>Volume (sai)</dt>
        <dd><%= number_with_precision(@wood_price_calculator.volume_in_sai, precision: 2, delimiter: ",") %></dd>

        <dt>Total price</dt>
        <dd><%= number_with_precision(@wood_price_calculator.total_price, precision: 0, delimiter: ",") %></dd>
      </dl>

      <div class="d-grid">
        <%= link_to "Clear", root_path, class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>
